<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    	th:replace="~{ layout.html :: layout(~{::title}, ~{::body}) }">
	<head>
		<title>Liste des fournisseurs</title>
	</head>

	<body>
		<div class="container">
			<h1>Liste des fournisseurs</h1>
			<a href="ajouterFournisseur">Ajouter un nouveau fournisseur</a>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Société</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="fournisseur : ${ fournisseurs }">
						<td>[[${ fournisseur.societe }]]</td>
						<td>
							<a class="btn btn-primary" th:href="@{ listeProduitsFournisseur(id=${ fournisseur.id }) }">Voir les produits</a>
							<a class="btn btn-warning" th:href="@{ editerFournisseur(id=${ fournisseur.id }) }">Editer</a>
							<a class="btn btn-danger" th:href="@{ supprimerFournisseur(id=${ fournisseur.id }) }">Supprimer</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>